
body{
    background-color: black;
}

a {
   text-decoration: none;
   color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.post {
    background-color: snow;
    border-style: solid;
    border-color: gray;
    margin-bottom: 5px;
    margin-right: 5px;
}

.post-content {
    margin-top: 10px;
    height: 170px;
}

.content {
    margin-right: 25px;
    margin-left: 25px;
}

.content img {
    height: 125px;
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 100px;
}






/*****         ******/
/*****  MEDIA  ******/

@media (min-width: 1279px) {
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .content {
        
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    
    .post {
        width: 32.5%;
        height: 400px;
    }
    
    .content img {
        height: 150px;
        width: 200px;
        float: right;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    h2 {
        max-width: 60%;
        margin-bottom: 15px;
        margin-top: 10px;
        margin-left: 5px;
    }
    
    .post-content {
        margin-top: 10px;
        margin-left: 5px;
    }
    
    


}
